$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

@mixin smD {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin mdD {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lgD {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xlD {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

body {
  @include smD {
    background-color: blue;
  }
  @include mdD {
    background-color: peru;
  }
  @include lgD {
    background-color: wheat;
  }
  @include xlD {
    background-color: chartreuse;
  }
}
